.Header {
    height: 50px;
    background-color: #c793c7;
    display: flex;
    padding: 0 25px 0 25px;
    align-items: center;
    /* margin: 0 40px 0 40px; */
}

.Name {
    color: #FFFFFF;
    font-size: 25px;
}

.Name a {
    text-decoration: none;
    color: inherit;
}