.ResultArea {
    margin-left: 40px;
    width: 60%;
    max-width: 700px;
    min-width: 500px;
}

.Result {
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 5px 5px 5px #d4d4d4;
}

.MoreButton {
    padding: 1px;
    background-color: #96dbfa;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
}

.MoreButton:hover {
    background-color: #5fccff;
}

.Route {
    background-color: #d4d4d4;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.Route table {
    width: 100%;
}

.Route td {
    width: 20%;
    /* text-align: center; */
    padding: 10px;
}

.Route div {
    word-wrap: break-word;
}

.Transfer {
    background-color: #ececec;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.Transfer table {
    width: 100%;
}

.Transfer td {
    width: 20%;
    /* text-align: center; */
    padding: 10px;
}

.Transfer span {
    word-wrap: break-word;
    color: #a5a5a5;
    font-size: 14px;
}

.ResultHeader {
    display: flex;
}

.ResultHeader table {
    width: 100%;
}

.ResultHeader td {
    width: 20%;
    /* text-align: center; */
    padding: 10px;
}

.ResultHeader span {
    word-wrap: break-word;
    color: #a5a5a5;
    font-size: 14px;
}

.Line {
    color: #f0f0f0;
}