.Search {
    gap: 5px;
    background-color: #c793c7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 25px;
    /* border-bottom-left-radius: 30px; */
    /* border-bottom-right-radius: 30px; */
    height: inherit;
}

.Form-group {
    display: flex;
    flex-direction: column;
}

.Departure-input {
    padding: 15px 10px;
    box-sizing: border-box;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border: none;
    font-size: 20px;
}

.Arrival-input {
    padding: 15px 10px;
    box-sizing: border-box;
    border: none;
    font-size: 20px;
}

.Date-input {
    padding: 15px 10px;
    box-sizing: border-box;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
    font-size: 20px;
}

.Error {
    box-shadow: 0 0 0 3px #ff004c;
    outline: none;
}

input:focus {
    box-shadow: 0 0 0 3px #96dbfa;
    outline: none;
}

button {
    padding: 15px;
    background-color: #96dbfa;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin-left: 10px;
    font-size: 20px;
}

button:hover {
    background-color: #5fccff;
}