.CriteriaArea {
    width: 20%;
    max-width: 300px;
    min-width: 200px;
}

.Criteria {
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 5px 15px 15px 15px;
    box-shadow: 5px 5px 5px #d4d4d4;
}

.Line {
    color: #f0f0f0;
}

.TransportCheckBox {
    accent-color: #96dbfa;
}